[Unit]
Description=autocutsel selection %i
PartOf=graphical-session.target
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/usr/bin/autocutsel -selection %i

[Install]
WantedBy=graphical-session.target

