[Unit]
Description=A lightweight compositor for X11
Requires=graphical-session.target
After=graphical-session.target xorg.target

[Service]
Type=simple
ExecStart=/usr/bin/picom --experimental-backends --dbus
Restart=always

[Install]
WantedBy=desktop.target
