[Unit]
Description=Lock X session using i3lock

[Service]
User=%i
Environment=DISPLAY=:0
ExecStart=sh -c '~/.config/i3/lock.sh'

[Install]
WantedBy=sleep.target
