!!=============================================================================
!! RXVT-unicode setting
!!=============================================================================


urxvt.depth:                32

urxvt.internalBorder:       4
urxvt.blurRadius:           25
urxvt.scrollBar:            true
urxvt.scrollBar_right:      true
urxvt.scrollBar_floating:   false
urxvt.scrollstyle:          plain
urxvt.saveLines:            10000
urxvt.preeditType:          Root
urxvt.jumpScroll:           false
urxvt.altSendsEscape:       true

xterm.metaSendsEscape:      true

!Set TERM
urxvt.termName:             xterm-256color

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.autohint:               false
Xft.hinting:                true
Xft.hintstyle:              hintfull
urxvt*font:                 xft:Sauce Code Pro:style=Regular:size=10.6
urxvt*imFont:               xft:Sauce Code Pro:style=Regular:size=10.6
urxvt*boldFont:             xft:Sauce Code Pro:style=Bold:size=10.6
urxvt*italicFont:           xft:Sauce Code Pro:style=Italic:size=10.6
urxvt*boldItalicFont:       xft:Sauce Code Pro:style=Bold,Italic:size=10.6


! clickable Url and copy paste keys

urxvt.iso14755:             false
urxvt.iso14755_52:          false
urxvt.perl-ext-common:      default,clipboard,vtwheel,font-size
urxvt.keysym.Shift-Control-C:   perl:clipboard:copy
urxvt.keysym.Shift-Control-V:   perl:clipboard:paste
urxvt.url-launcher:         /usr/bin/google-chrome-stable
urxvt.matcher.button:       1

urxvt.keysym.C-Up:     font-size:increase
urxvt.keysym.C-Down:   font-size:decrease
urxvt.keysym.C-S-Up:   font-size:incglobal
urxvt.keysym.C-S-Down: font-size:decglobal

Xft.lcdfilter:              lcddefault

! special
*.foreground:               #ECEFF1
*.background:               #002B36
!*.cursorColor:              #ECEFF1
*.cursorColor:              #5294E2
*.highlightColor:           #5294E2
urxvt.background:           [80]#002B36
urxvt.scrollColor:          #767B87
urxvt*dynamicColors:        on
urxvt*highlightSelection:   true
urxvt*colorMode:            on

! black
*.color0:       #263238
*.color8:       #37474f

! red
*.color1:       #ff9800
*.color9:       #ffa74d

! green
*.color2:       #8bc34a
*.color10:      #9ccc65

! yellow
*.color3:       #ffc107
*.color11:      #ffa000

! blue
*.color4:       #03a9f4
*.color12:      #81d4fa

! magenta
*.color5:       #e91e63
*.color13:      #A56ECC

! cyan
*.color6:       #009688
*.color14:      #26a69a

! white
*.color7:       #cfd8dc
*.color15:      #eceff1


!-----------------------------
! Rofi config

rofi.fg:            #D3DAE3
rofi.bg:            #383C4A
rofi.hlbg:          #5294E2
rofi.bc:            #383C4A
rofi.opacity:       80
rofi.padding:       8
rofi.lines:         14
rofi.width:         40
rofi.font:          Noto Sans 14
rofi.line-margin:   3
rofi.sep:           |
rofi.prompt:        >

