!!=============================================================================
!! RXVT-unicode setting
!!=============================================================================


urxvt.depth:                32

urxvt.internalBorder:       4
urxvt.blurRadius:           25
urxvt.scrollBar:            false
urxvt.saveLines:            10000
urxvt.preeditType:          Root
urxvt.jumpScroll:           false
urxvt.altSendsEscape:       true

xterm.metaSendsEscape:      true

!Set TERM
urxvt.termName:             xterm-256color

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.autohint:               false
Xft.hinting:                true
Xft.hintstyle:              hintfull
urxvt*font:                 xft:Sauce Code Pro:style=Regular:size=9
urxvt*imFont:               xft:Sauce Code Pro:style=Regular:size=9
urxvt*boldFont:             xft:Sauce Code Pro:style=Bold:size=9
urxvt*italicFont:           xft:Sauce Code Pro:style=Italic:size=9
urxvt*boldItalicFont:       xft:Sauce Code Pro:style=Bold,Italic:size=9


! clickable Url and copy paste keys

urxvt.iso14755:             false
urxvt.iso14755_52:          false
urxvt.perl-ext-common:      default,clipboard,vtwheel,font-size
urxvt.keysym.Shift-Control-C:   perl:clipboard:copy
urxvt.keysym.Shift-Control-V:   perl:clipboard:paste
urxvt.url-launcher:         /usr/bin/chromium
urxvt.matcher.button:       1

urxvt.keysym.C-Up:     font-size:increase
urxvt.keysym.C-Down:   font-size:decrease
urxvt.keysym.C-S-Up:   font-size:incglobal
urxvt.keysym.C-S-Down: font-size:decglobal

Xft.lcdfilter:              lcddefault

! special
*.foreground:               #ECEFF1
*.background:               #002B36
!*.cursorColor:              #ECEFF1
*.cursorColor:              #5294E2
*.highlightColor:           #5294E2
urxvt.background:           [95]#383C4A
urxvt.scrollColor:          #767B87
urxvt*dynamicColors:        on
urxvt*highlightSelection:   true
urxvt*colorMode:            on

! black
*.color0:       #333638

!white
*.color15:      #eceff1

! gray
*.color7:       #8b9396
*.color8:       #475760

! red
*.color1:       #ff3f00
*.color9:       #ef5345

! green
*.color2:       #8bc34a
*.color10:      #9ccc65

! yellow
*.color3:       #ffc107
*.color11:      #ffa000

! blue
*.color4:       #0266f4
*.color12:      #3f86da

! magenta
*.color5:       #cc17cc
*.color13:      #a56ecC

! cyan
*.color6:       #10aeba
*.color14:      #5ddae2

