[Unit]
Description=Bluetooth Applet
After=graphical-session.target
Requires=graphical-session.target
ConditionPathExists=/sys/class/bluetooth

[Service]
Type=simple
ExecStart=/usr/bin/blueman-applet
Restart=on-failure

[Install]
WantedBy=desktop.target
