[Unit]
Description=Bluetooth Applet
ConditionPathExists=/sys/class/bluetooth
After=graphical-session.target

[Service]
ExecStart=/usr/bin/blueman-applet
Restart=on-failure
Slice=background.slice

[Install]
WantedBy=graphical-session.target
