[Unit]
Description=i3 - an improved dynamic, tiling window manager
Requires=xorg.target
Before=graphical-session.target
After=xprofile.service xorg.target

[Service]
ExecStart=/usr/bin/i3
ExecReload=/usr/bin/i3-msg restart
Restart=always
Slice=session.slice

[Install]
WantedBy=graphical-session.target
