[Unit]
Description=i3 - an improved dynamic, tiling window manager
Requires=xorg.target
Before=graphical-session.target
After=profile.service xprofile.service xorg.target

[Service]
ExecStart=/usr/bin/i3
ExecReload=/usr/bin/i3-msg reload
Restart=always

[Install]
WantedBy=graphical-session.target
