[Unit]
Description=Lightweight GTK+ clipboard manager
PartOf=graphical-session.target
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/usr/bin/parcellite -n

[Install]
WantedBy=graphical-session.target
