[Unit]
Description=A lightweight compositor for X11
Requires=graphical-session.target
After=dbus.service graphical-session.target xorg.target

[Service]
ExecStart=/usr/bin/picom --dbus
Restart=always
Slice=session.slice

[Install]
WantedBy=desktop.target
