[Unit]
Description=Polybar bar %i
Requires=graphical-session.target
After=graphical-session.target pulseaudio.socket i3.service

[Service]
ExecStart=/usr/bin/polybar --reload --log=warning %i
ExecReload=/usr/bin/polybar-msg -p $MAINPID cmd restart
Restart=always
Slice=session.slice

[Install]
WantedBy=desktop.target
