[Unit]
Description=Solaar Logitech status applet
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/solaar --debug --restart-on-wake-up --window=hide
KillMode=process
Restart=on-failure
Slice=background.slice

[Install]
WantedBy=desktop.target
