[Unit]
Description=SSH persistent connection to %i

[Service]
Type=forking
Slice=ssh.slice
Environment=SSH_ASKPASS=%E/ssh/askpass
Environment=SSH_HOST=%i
ExecStart=/usr/bin/ssh -F %E/ssh/config -fNT %i
Restart=on-failure

[Install]
WantedBy=ssh.target
