[Unit]
Description=Apply wallpaper on screen-change event
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment=FEH_OPTIONS="--no-fehbg --no-xinerama"
Environment=WALLPAPER=/home/frebib/pictures/lakesidesunrise.jpg
ExecStartPre=feh $FEH_OPTIONS --bg-fill $WALLPAPER
ExecStart=/bin/sh -c "xev -root -event randr 2>&1 | while awk -v RS=\\n\\n '{exit;}'; do echo 'Applying wallpaper'; feh $FEH_OPTIONS --bg-fill $WALLPAPER; done"
Restart=always

[Install]
WantedBy=desktop.target
