[Unit]
Description=XBindKeys

[Service]
Type=forking
ExecStart=/usr/bin/xbindkeys -f ${XDG_CONFIG_HOME}/X11/xbindkeysrc
KillMode=process
Slice=session.slice

[Install]
WantedBy=graphical-session.target
