[Unit]
Description=XBindKeys

[Service]
ExecStart=/usr/bin/xbindkeys -n -f $XDG_CONFIG_HOME/X11/xbindkeysrc
KillMode=process

[Install]
WantedBy=graphical-session.target
