[Unit]
Description=XBindKeys
ConditionFileNotEmpty=%E/X11/xbindkeysrc

[Service]
Type=forking
ExecStart=/usr/bin/xbindkeys -f %E/X11/xbindkeysrc
KillMode=process
Slice=session.slice

[Install]
WantedBy=graphical-session.target
