[Unit]
Description=Load Xorg configuration
PartOf=xorg.target
After=xorg.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '. ${XDG_CONFIG_HOME}/X11/xprofile; systemctl --user import-environment'
SyslogIdentifier=xprofile
Slice=session.slice

[Install]
WantedBy=xorg.target
