[Unit]
Description=Load Xorg configuration
Requires=xorg.target
After=xorg.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '. %E/X11/xprofile; systemctl --user import-environment'
SyslogIdentifier=xprofile

[Install]
WantedBy=xorg.target
