[Unit]
Description=xsettingsd - provide settings to X11 applications
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=xsettingsd -c ${XDG_CONFIG_HOME}/xsettingsd/xsettingsd.conf
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
Slice=session.slice

[Install]
WantedBy=graphical-session.target
