[Unit]
Description=xsettingsd - provide settings to X11 applications
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/bin/sh -c 'xsettingsd -c $XDG_CONFIG_HOME/xsettingsd/xsettingsd.local'
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=graphical-session.target
